.bg-img {
  background-image: url(https://t3.ftcdn.net/jpg/04/35/06/90/360_F_435069064_rDVH1Q0beyCcTAEpzRs9A4uBRduYAnur.jpg);
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



